<% if params[:mine] %>
  <h4 class="pull-left">My Projects</h4>
  <p class="pull-right"><a class="btn btn-secondary" href="<%= new_project_path %>" role="button">New Project</a></p>
<% end %>

<form class="bd-search hidden-sm-down">
  <p><input type="text" class="form-control" id="search-input" placeholder="Search for Projects..." autocomplete="off"></p>
  <div class="dropdown-menu bd-search-results" id="search-results"></div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Latest Version</th>
      <% if params[:mine] %>
        <th>Operation</th>
      <% else %>
        <th>Packages Count</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |x| %>
    <tr>
      <th scope="row"><a href="<%= project_path x %>"><%= x.name %></a></th>
      <td><%= x.latest_version %></td>
      <td>
      <% if params[:mine] %>
        <a href="<%= project_path(x) %>" data-method="delete"><button type="button" class="btn btn-danger btn-sm" data-confirm="Are you sure?">Delete</button></a>
      <% else %>
        <%= x.packages.count %>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
