<div class="pull-left">
  <h4><%= @project.name %></h4>
  <p><a href="<%= @project.source_url %>"><%= @project.source_url %></a></p>
</div>

<p class="pull-right">
  <a class="btn btn-secondary" href="<%= project_executables_path(@project) %>" data-method="post" role="button"><i class="fa fa-refresh" aria-hidden="true"></i> Check Releases</a>
  <a class="btn btn-danger" href="<%= project_path @project %>" data-method="delete" data-confirm="Are you sure?" role="button">Delete</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Executable</th>
      <th>Created at</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <% @project.executables.order('version DESC, name ASC, kind ASC').each do |x| %>
      <% if x.done? %>
        <tr class="done">
          <th scope="row"><a href="<%= x.file.url %>"><%= file_item x %></a></th>
          <td><%= x.done_at %></td>
          <td><%= number_to_human_size x.file_size %></td>
        </tr>
      <% else %>
        <tr class="doing">
          <th scope="row"><%= file_item x %></th>
          <td colspan="2"><%= phase_name x.phase %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
